@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Beckan-Personal-Use';
    src: url('../fonts/Beckan-Personal-Use.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: url("images/intro-section-bg.jpg") no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    background-position: center;
    height: 100vh;
    background-color: black;

}

.nav-left-elem a {
    display: flex;
    color: burlywood;
    text-decoration: none;
    justify-self: flex-start;
    
}

.nav-right-elem{
    justify-self: flex-end;
    color: burlywood;
    display: flex;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.09);
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    padding: 0.7rem 1.5rem;
    backdrop-filter: blur(5px);
    border-bottom: 2px solid floralwhite;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.list-items {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    margin-right: 1.5rem;
    list-style: none;

}

.list-items li a {
    text-decoration: none;
    color: burlywood;
    font-size: 1.1rem;
}

.intro-container {
    height: auto;
    width: 90%;
    background: rgba(255, 255, 255, 0.01);
    margin: 1.5rem 2rem;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    margin-top: 5rem;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}

#Hello-text {
    font-family: "Beckan-Personal-Use";
    font-size: 6rem;
    color: bisque;
    margin-left: 3.5rem;
    letter-spacing: 0.1rem;
}

.img-container img {
    max-height: 80vh;
    padding: 1.2rem 0.8rem;
    border-radius: 35px;
    display: flex;
    align-self: flex-end;
}

#intro-text{
    display: flex;
    color:antiquewhite;
    width: 40vw;
    font-size: 1.55rem;
    margin-left: 3.5rem;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    line-height: 117%;
    word-spacing: 3px;
}

.proj-container{
    height: auto;
    width: 90%;
    background: rgba(255, 255, 255, 0.01);
    margin: 1.5rem 2rem;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    margin-top: 7%;
}

.projects-title{
    font-family: "Beckan-Personal-Use";
    font-size: 4rem;
    color: bisque;
    margin-left: 3.5rem;
    letter-spacing: 0.1rem;
}

.projects-blah{
    display: flex;
    color:antiquewhite;
    width: 30vw;
    font-size: 1.55rem;
    margin-left: 3.5rem;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    line-height: 117%;
    word-spacing: 3px;
    padding-bottom: 10px;
}


.project-card1{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 360px;
    background: rgba(255, 255, 255, 0.01);
    margin: 1.5rem 2rem;
    backdrop-filter: blur(5px);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    justify-content: center;
    padding-bottom: 3%;
}
.project-card1 img {
    height: 130px;
    width: 130px;
    background: beige;
    margin: 1.5rem 2rem;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
}

.project-card1 a {
    text-decoration: none;
    color:antiquewhite;
    width: 30vw;
    font-size: 1.55rem;
    align-self: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    line-height: 117%;
    word-spacing: 3px;
    padding-bottom: 10px;
}


.proj1-info{
    color:antiquewhite;
    width: 30vw;
    font-size: 1rem;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    line-height: 117%;
    word-spacing: 3px;
    padding: 0rem 1.7rem;
    
}

.project-card2{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 360px;
    background: rgba(255, 255, 255, 0.01);
    margin: 1.5rem 2rem;
    backdrop-filter: blur(5px);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    justify-content: center;
    padding-bottom: 3%;
}
.project-card2 img {
    height: 130px;
    width: 130px;
    background: beige;
    margin: 1.5rem 2rem;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
}

.project-card2 a {
    text-decoration: none;
    color:antiquewhite;
    width: 30vw;
    font-size: 1.55rem;
    align-self: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    line-height: 117%;
    word-spacing: 3px;
    padding-bottom: 10px;
}


.proj2-info{
    color:antiquewhite;
    width: 30vw;
    font-size: 1rem;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    line-height: 117%;
    word-spacing: 3px;
    padding: 0rem 1.7rem;
    
}

.project-card3{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 360px;
    background: rgba(255, 255, 255, 0.01);
    margin: 1.5rem 2rem;
    backdrop-filter: blur(5px);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    justify-content: center;
    padding-bottom: 3%;
}
.project-card3 img {
    height: 130px;
    width: 130px;
    background: beige;
    margin: 1.5rem 2rem;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
}

.project-card3 a {
    text-decoration: none;
    color:antiquewhite;
    width: 30vw;
    font-size: 1.55rem;
    align-self: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    line-height: 117%;
    word-spacing: 3px;
    padding-bottom: 10px;
}


.proj3-info{
    color:antiquewhite;
    width: 30vw;
    font-size: 1rem;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    line-height: 117%;
    word-spacing: 3px;
    padding: 0rem 1.7rem;
    
}

.project-card-container{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    width: 90%;
}

.skills-title{
    font-family: "Beckan-Personal-Use";
    font-size: 4rem;
    color: bisque;
    margin-left: 3.5rem;
    height: auto;
    width: 90%;
    background: rgba(255, 255, 255, 0.01);
    margin: 1.5rem 2rem;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    margin-top: 7%;
    padding-left: 3.5rem;
    letter-spacing: 0.1rem;
}

.skill-items{
    height: auto;
    width: 90%;
    background: rgba(255, 255, 255, 0.01);
    margin: 1.5rem 2rem;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    margin-bottom: 8%;
    
}

.skill-list{
    list-style: none;
    display: grid;
    padding: 2rem 4rem;
    gap: 8rem;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.skill-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 200;
}

.contact-section{
    height: auto;
    width: 90%;
    background: rgba(255, 255, 255, 0.01);
    margin: 1.5rem 2rem;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    margin-bottom: 13%;
}

.contact-intro{
    font-family: "Beckan-Personal-Use";
    font-size: 4rem;
    color: bisque;
    margin-left: 3.5rem;
    letter-spacing: 0.1rem;
}

.contact-section a{
    text-decoration: none;
    color:antiquewhite;
    width: 30vw;
    font-size: 1.3rem;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    line-height: 117%;
    word-spacing: 3px;
    padding: 1rem 1.7rem;
    margin-left: 2.7rem;

}

.social-list-container{
    display: flex;
    flex-direction: row;
}

.socials-text{
    text-decoration: none;
    color:antiquewhite;
    width: 30vw;
    font-size: 1.3rem;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    line-height: 117%;
    word-spacing: 3px;
    padding-top: 1.6%;
    margin-left: 4.2rem;
}

.socials-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 20px;
    padding-top: 20px;
}

.socials-list a {
    text-decoration: none;
    color:antiquewhite;
    width: 30vw;
    font-size: 1rem;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    line-height: 117%;
    word-spacing: 3px;
    padding: 0rem 1.7rem;
    
}